.featuredWrapper {
}

.repo {
  border-top: 2px solid var(--brand-black);
  border-bottom: 2px solid var(--brand-black);
  display: flex;
  flex-direction: column;
}

.figure {
  margin: 0;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--brand-red);
  display: flex;
  align-items: flex-end;
  border-right: 1px solid var(--brand-black);
}

.figure img {
  display: block;
  margin: 0;
}

.codeSpeech {
  display: inline-block;
  font-size: 12px;
  max-width: 5em;
  padding: 12px;
  margin-bottom: 364px;
}

.info {
  border-bottom: 2px solid var(--brand-black);
  flex: 1 1 auto;
  background-color: var(--brand-blue);
  color: var(--brand-white);
  position: relative;
  padding: 54px 38px 185px 38px;
}

.desc {
  margin: 1.5em 0;
  line-height: 1.5;
}

.decor {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.decor img {
  display: block;
}

@media (min-width: 900px) {
  .repo {
    align-items: stretch;
    align-content: stretch;
    flex-direction: row-reverse;
  }

  .info {
    border-left: 1px solid var(--brand-black);
    border-bottom: none;
  }  

  .figure {
    width: 50%;
  }

  .figure img {
    margin: 54px 12px 0 81px;
  }

  .info {
    width: 50%;
    padding: 54px 18px 154px 54px;
  }
}

@media (max-width: 375px) {
  .figure img {
    width: 60%;
  }
}