.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  border-right: 2px solid var(--brand-black);
  border-left: 2px solid var(--brand-black);
}

.footer {
  text-align: center;
  border-top: 2px solid var(--brand-black);
  justify-content: center;
  display: flex;
  flex-direction: column;
}
