.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-flow: dense;
  gap: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline: 2px solid var(--brand-black);
}

@supports (grid-template-rows: masonry) {
  .list {
    grid-template-rows: masonry;
  }
}

.item {
  margin: 0;
  padding: 18px 18px 92px;
  box-sizing: border-box;
  outline: 1px solid var(--brand-black);
  position: relative;
}

.heading {
  line-height: 1.1;
  margin: 2.2em 0 0;
  position: relative;
  overflow: visible;
  background-color: var(--brand-white);
}

.link {
  line-height: 1.1;
  transition: color 0.1s ease;
  text-decoration: none;
  --link-color: var(--brand-black);
  color: var(--link-color);
}

.link:hover {
  color: var(--brand-black);
}

.headingVisible {
  display: block;
  position: relative;
  z-index: 3;
  background-color: var(--brand-white);
}

.headingFigure {
  margin: 0;
}

.headingFigure > span {
  text-stroke: 2px var(--link-color);
  -webkit-text-stroke: 2px var(--link-color);
  color: var(--brand-white);
  position: absolute;
  left: 0;
  background-color: var(--brand-white);
}

.link:hover .headingFigure > span {
  text-stroke: 2px var(--brand-black);
  -webkit-text-stroke: 2px var(--brand-black);
}

.headingFigure .figureFirst {
  z-index: 1;
  top: -2.2em;
}

.headingFigure .figureSecond {
  z-index: 2;
  top: -1.1em;
}

.desc {
  display: block;
  line-height: 1.5;
}

.old {
  display: block;
  margin: 0.5em 0;
}

.old > span {
  font-style: italic;
  border-radius: 4px;
  background-color: var(--brand-yellow);
  padding: 0.15em 0.25em;
  margin-left: 0.25em;
}

.categories {
  display: block;
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}

.categories::before {
  content: 'In ';
}

.categoryItem {
  display: inline;
  margin: 0;
}

.categoryItem::after {
  content: ', ';
}

.categoryItem:last-child::after {
  content: '';
}

.categoryItem a {
  border-radius: 4px;
  transition: color 0.1s ease;
  --hover-color: var(--brand-grey);
  color: var(--brand-black);
}

.categoryItem a:hover {
  color: var(--hover-color);
}

.saveButton {
  letter-spacing: 0;
  text-indent: 0;
  padding-left: 28px;
  padding-right: 28px;
  color: var(--brand-white);
  background-color: var(--button-color);
}

.saveButton.faved {
  background-color: var(--brand-white);
  color: var(--button-color);
}

