.list {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--brand-black);
}

.darkColor, .darkColor a, .darkColor li a, 
.darkColor .link:hover  {
  color: var(--brand-white);
}

.darkColor .headingFigure > span {
  text-stroke: 1px var(--brand-white);
  -webkit-text-stroke: 1px var(--brand-white);
}

.darkColor .link:hover .headingFigure > span {
  text-stroke: 1px var(--brand-white);
  -webkit-text-stroke: 1px var(--brand-white);
}

.darkColor .hostname {
  color: var(--brand-grey);
}

.darkColor .headingVisible svg {
  fill: var(--brand-white);
  stroke: var(--brand-white);
}

.featureImage {
  position: absolute;
  bottom: 0;
  right: 50px;
  z-index: 300;
}

.item {
  margin: 0;
  width: 100%;
  padding: 80px 18px 92px;
  box-sizing: border-box;
  outline: 1px solid var(--brand-black);
  position: relative;
}

.heading {
  line-height: 1.1;
  margin: 2.2em 0 0;
  position: relative;
  overflow: visible;
  background-color: var(--brand-white);
}

.link {
  line-height: 1.1;
  transition: color 0.1s ease;
  text-decoration: none;
  --link-color: var(--brand-black);
  color: var(--link-color);
}

.link:hover {
  color: var(--brand-black);
}

.headingVisible {
  display: block;
  position: relative;
  z-index: 3;
  background-color: var(--brand-white);
}

.headingFigure {
  margin: 0;
}

.headingFigure > span {
  text-stroke: 1px var(--brand-black);
  -webkit-text-stroke: 1px var(--brand-black);
  color: var(--brand-white);
  position: absolute;
  left: 0;
  background-color: var(--brand-white);
}

.link:hover .headingFigure > span {
  text-stroke: 1px var(--brand-black);
  -webkit-text-stroke: 1px var(--brand-black);
}

.headingFigure .figureFirst {
  z-index: 1;
  top: -2.2em;
}

.headingFigure .figureSecond {
  z-index: 2;
  top: -1.1em;
}

.desc {
  display: block;
  line-height: 1.5;
}

.hostname {
  display: block;
  mix-blend-mode: luminosity;
  line-height: 1.5;
  color: var(--brand-dark-grey);
}

.divider {
  margin-bottom:28px;
}

.divider::after {
  content: '';
  background: var(--brand-silver);
  left: 0;
  position: absolute;
  height: 28px;
  z-index: 9999;
  right: 0;
  bottom: -28px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.divider {
  padding-bottom: 275px;
}

.old {
  margin: 0.5em 0;
  display: block;
}

.old img {
  display: inline-block;
  vertical-align: middle;
}

.old > span {
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  background-color: var(--brand-yellow);
  padding: 0.15em 0.25em;
  margin-left: 0.25em;
}

.categories {
  display: block;
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}

.categories::before {
  content: 'In ';
}

.categoryItem {
  display: inline;
  margin: 0;
}

.categoryItem::after {
  content: ', ';
}

.categoryItem:last-child::after {
  content: '';
}

.categoryItem a {
  border-radius: 4px;
  transition: color 0.1s ease;
  --hover-color: var(--brand-grey);
  color: var(--brand-black);
}

.categoryItem a:hover {
  color: var(--hover-color);
}

.saveButton {
  letter-spacing: 0;
  text-indent: 0;
  padding-left: 28px;
  padding-right: 28px;
  background-color: var(--button-color);
}

.saveButton.faved {
  background-color: var(--brand-white);
  color: var(--button-color);
}

@media (min-width: 900px) {

  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
  }
  
  .divider {
    padding: 80px 18px 92px;
  }

  .item:nth-child(3n) {
    width: 100%;
  }

  .item:nth-child(3n) .heading, .item:nth-child(3n) .desc  {
    width: 50%;
  }
}