.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  text-align: center;
  border-bottom: 2px solid var(--brand-black);
}

.title {
  width: 50%;
  background-color: var(--brand-gold);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  border-right: 1px solid var(--brand-black);
}

.titleHeading {
  margin: 0;
  line-height: 1;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleSubheading {
  margin: 0;
  line-height: 4;
  background-color: var(--brand-white);
  flex: 0 0 auto;
  border-top: 2px solid var(--brand-black);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.9rem;
  text-indent: 0.9rem;
  text-align: center;
}

.aside {
  width: 50%;
  border-left: 1px solid var(--brand-black);
  background-color: var(--brand-pink);
}

.asideText {
  margin: 0;
  line-height: 4;
  background-color: var(--brand-white);
  border-bottom: 2px solid var(--brand-black);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.9rem;
  text-indent: 0.9rem;
  text-align: center;
}

.buttonWrapper {
  margin: 0;
  padding: 18px 0;
}

.button {
  --button-color: var(--brand-gold);
}

.figure {
  margin: 0;
  display: block;
}

.figure img {
  margin: 0 auto;
  display: block;
}

.categoryHeader {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;  
  outline: 1px solid var(--brand-black);
  border-bottom: 1px solid var(--brand-black);;
}

.categoryTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  margin:0;
}

.backButton {
  background-color: var(--brand-white);
  color: var(--brand-black);
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  min-width: 175px;
  text-transform: uppercase;
  letter-spacing: 0.9rem;
  text-indent: 0.9rem;
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--brand-black);
}