/*
const TestHeaderRepeated: FunctionalComponent<{ title: string }> = ({ title }) => {
  const noClick = useCallback((e: MouseEvent) => {
    e.preventDefault()
    e.stopPropagation()
  }, [])

  return (
    <section class={[styles.section, styles.repeated].join(' ')}>
      <h2 class={[styles.heading, styles.repeated].join(' ')}>
        <a href='#' onClick={noClick}>
          <span class={[styles.primary, styles.repeated].join(' ')}>
            {title}
            <img src={arrowURL} width='22' height='22' alt='' />
          </span>
          <figure aria-hidden class={[styles.figure, styles.repeated].join(' ')}>
            <span>{title}</span>
            <span>{title}</span>
          </figure>
        </a>
      </h2>
      <p class={[styles.desc, styles.repeated].join(' ')}>Guides for how to get up & running</p>
      <p>
        <a
          class='button'
          href='#'
          onClick={noClick}
        >
          Button
        </a>
      </p>
    </section>
  )
}
 */

.section {
  margin: 100px auto 150px;
  padding: 54px;
  max-width: 500px;
  border: 2px solid var(--brand-black);
}

.heading {
  margin: 0;
}

.desc {
  margin: 1.5em 0;
}

.heading {
  --heading-color: var(--brand-black);
  line-height: 1.1;
}

.repeated.heading {
  margin-top: 2em;
  position: relative;
  overflow: visible;
  --heading-alt-color-1: var(--brand-grey);
  --heading-alt-color-2: var(--brand-silver);
  background-color: var(--brand-white);
}

.repeated.heading a {
  color: var(--heading-color);
  text-decoration: none;
}

.repeated.primary {
  display: block;
  z-index: 3;
  position: relative;
  background-color: var(--brand-white);
  animation: nothing 1s linear infinite;
}

.repeated.heading a:hover .repeated.primary {
  animation-name: primary;
}

.repeated.figure {
  margin: 0;
}

.repeated.figure > span {
  text-stroke: 1px var(--heading-color);
  -webkit-text-stroke: 1px var(--heading-color);
  color: var(--brand-white);
  position: absolute;
  top: -1.1em;
  background-color: var(--brand-white);
  z-index: 2;
  animation: nothing 1s linear infinite;
}

.repeated.figure > span + span {
  top: -2.2em;
  z-index: 1;
  animation: nothing 1s linear infinite;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}

.repeated.heading a:hover .repeated.figure > span {
  text-stroke-width: 0;
  -webkit-text-stroke-width: 0;
  animation-play-state: running;
  animation-name: second-color;
}

.repeated.heading a:hover .repeated.figure > span + span {
  animation-play-state: running;
  animation-name: first-color;
}

@keyframes nothing {}

@keyframes primary {
  0% {
    color: var(--heading-color);
  }
  0.01% {
    color: var(--heading-alt-color-1);
  }
  33.33% {
    color: var(--heading-alt-color-1);
  }
  33.34% {
    color: var(--heading-alt-color-2);
  }
  66.66% {
    color: var(--heading-alt-color-2);
  }
  66.67% {
    color: var(--heading-color);
  }
  100% {
    color: var(--heading-color);
  }
}

@keyframes first-color {
  0% {
    color: var(--heading-color);
  }
  0.01% {
    color: var(--heading-alt-color-2);
  }
  33.33% {
    color: var(--heading-alt-color-2);
  }
  33.34% {
    color: var(--heading-color);
  }
  66.66% {
    color: var(--heading-color);
  }
  66.67% {
    color: var(--heading-alt-color-1);
  }
  100% {
    color: var(--heading-alt-color-1);
  }
}

@keyframes first {
  0% {
    text-stroke: 2px var(--heading-color);
    -webkit-text-stroke: 2px var(--heading-color);
  }
  0.01% {
    text-stroke: 2px var(--heading-alt-color-2);
    -webkit-text-stroke: 2px var(--heading-alt-color-2);
  }
  33.33% {
    text-stroke: 2px var(--heading-alt-color-2);
    -webkit-text-stroke: 2px var(--heading-alt-color-2);
  }
  33.34% {
    text-stroke: 2px var(--heading-color);
    -webkit-text-stroke: 2px var(--heading-color);
  }
  66.66% {
    text-stroke: 2px var(--heading-color);
    -webkit-text-stroke: 2px var(--heading-color);
  }
  66.67% {
    text-stroke: 2px var(--heading-alt-color-1);
    -webkit-text-stroke: 2px var(--heading-alt-color-1);
  }
  100% {
    text-stroke: 2px var(--heading-alt-color-1);
    -webkit-text-stroke: 2px var(--heading-alt-color-1);
  }
}

@keyframes second-color {
  0% {
    color: var(--heading-color);
  }
  0.01% {
    color: var(--heading-color);
  }
  33.33% {
    color: var(--heading-color);
  }
  33.34% {
    color: var(--heading-alt-color-1);
  }
  66.66% {
    color: var(--heading-alt-color-1);
  }
  66.67% {
    color: var(--heading-alt-color-2);
  }
  100% {
    color: var(--heading-alt-color-2);
  }
}

@keyframes second {
  0% {
    text-stroke: 2px var(--heading-color);
    -webkit-text-stroke: 2px var(--heading-color);
  }
  0.01% {
    text-stroke: 2px var(--heading-color);
    -webkit-text-stroke: 2px var(--heading-color);
  }
  33.33% {
    text-stroke: 2px var(--heading-color);
    -webkit-text-stroke: 2px var(--heading-color);
  }
  33.34% {
    text-stroke: 2px var(--heading-alt-color-1);
    -webkit-text-stroke: 2px var(--heading-alt-color-1);
  }
  66.66% {
    text-stroke: 2px var(--heading-alt-color-1);
    -webkit-text-stroke: 2px var(--heading-alt-color-1);
  }
  66.67% {
    text-stroke: 2px var(--heading-alt-color-2);
    -webkit-text-stroke: 2px var(--heading-alt-color-2);
  }
  100% {
    text-stroke: 2px var(--heading-alt-color-2);
    -webkit-text-stroke: 2px var(--heading-alt-color-2);
  }
}
